.pro{
    width: 100%;
    background-color: #fff;
}

.pro-img{
    width: 70%;
    padding-top: 6rem;
}

.pro h2{
    padding-top: -6rem;
    font-weight: normal;
    margin: 0 auto;
}

.pro p{
    margin: 0 auto;
}

.pro div{
    position: relative;
}
.pro-open{
    width: 10%;
    position: absolute;
    left: 65%;
    top: -3.5rem;
}