.pro{
    width: 100%;
}

.pro-img{
    width: 70%;
    margin-top: 4rem;
}

.pro h2{
    margin-top: -6rem;
    font-weight: normal;
}

.pro div{
    position: relative;
}
.pro-open{
    width: 10%;
    position: absolute;
    left: 65%;
    top: -3.5rem;
}